.profile__add-button {
    width: 150px;
    height: 50px;
    background-image: url(../../../images/profile/profile__add-button.svg);
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    margin-left: auto;
    cursor: pointer;
    transition: opacity 0.3s linear;
}

.profile__add-button:hover {
    opacity: .6;
}