.profile__info {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 18px;
    row-gap: 16px;
    justify-content: flex-start;
    align-items: center;
    grid-template-areas:
        "title edit"
        "job job";
}